<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login.png) center; background-size: cover;">
        <div class="list">
            <div class="item item-body">
                <img src="img/applogo.png" class="app-image">
            </div>
            <label class="item item-input item-floating-label">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Username">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="Password" placeholder="Password">
            </label>
        </div>
        <div class="padding">
            <button ui-sref="app.profile" class="button button-full button-assertive ink">Login</button>
            <button class="button button-full button-clear ink">Forgot Password?</button>
        </div>
    </ion-content>
</ion-view>
