<ion-view view-title="Profile Setting">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <ul class="list">
            <li class="item item-icon-right">
                Change Name
                <i class="icon ion-ios-arrow-right"></i>
            </li>
            <li class="item item-icon-right">
                Title
                <i class="icon ion-ios-arrow-right"></i>
            </li>
            <ion-toggle toggle-class="toggle-positive">Use your Location</ion-toggle>
        </ul>
    </ion-content>
</ion-view>
