<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/login.png');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="dark">Mark Wood</a></h3>
                <h4><a href="#" class="dark">@markuloss</a></h4>
                <div class="text">
                    <p>Just chilling with my cat, dog and what ever you think.</p>
                </div>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static my-tabs-icons">
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-ios-people-outline"></i> <span>20000</span> Followers
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-ios-person-outline"></i> <span>19000</span> Following
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-android-textsms"></i> <span>1700</span> Posts
            </a>
        </div>
        <div class="row">
            <div class="col col-50">
                <div class="card item item-text-wrap">
                  <div class="ink dark-bg">
                      <img class="full-image" src="img/sansa-snowcastle3.jpg">
                  </div>
                  <div class="item tabs tabs-dark tabs-icon-left">
                        <a class="tab-item dark-bg">
                            <i class="icon ion-eye"></i>
                            1000
                        </a>
                        <a class="tab-item dark-bg">
                            <i class="icon ion-chatbubbles"></i>
                            130
                        </a>
                        <a class="tab-item dark-bg">
                            <i class="icon ion-heart"></i>
                            740
                        </a>
                    </div>
                </div>
            </div>
            <div class="col col-50">
                <div class="card item item-text-wrap">
                  <div class="ink dark-bg">
                      <img class="full-image" src="img/sansa-snowcastle3.jpg">
                  </div>
                  <div class="item tabs tabs-dark tabs-icon-left">
                        <a class="tab-item dark-bg">
                            <i class="icon ion-eye"></i>
                            1000
                        </a>
                        <a class="tab-item dark-bg">
                            <i class="icon ion-chatbubbles"></i>
                            130
                        </a>
                        <a class="tab-item dark-bg">
                            <i class="icon ion-heart"></i>
                            740
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <div class="card item item-text-wrap">
                  <div class="ink dark-bg">
                      <img class="full-image" src="img/sansa-snowcastle3.jpg">
                  </div>
                  <div class="item tabs tabs-dark tabs-icon-left">
                        <a class="tab-item dark-bg">
                            <i class="icon ion-eye"></i>
                            1000
                        </a>
                        <a class="tab-item dark-bg">
                            <i class="icon ion-chatbubbles"></i>
                            130
                        </a>
                        <a class="tab-item dark-bg">
                            <i class="icon ion-heart"></i>
                            740
                        </a>
                    </div>
                </div>
            </div>
            <div class="col col-50">
                <div class="card item item-text-wrap">
                  <div class="ink dark-bg">
                      <img class="full-image" src="img/sansa-snowcastle3.jpg">
                  </div>
                  <div class="item tabs tabs-dark tabs-icon-left">
                        <a class="tab-item dark-bg">
                            <i class="icon ion-eye"></i>
                            1000
                        </a>
                        <a class="tab-item dark-bg">
                            <i class="icon ion-chatbubbles"></i>
                            130
                        </a>
                        <a class="tab-item dark-bg">
                            <i class="icon ion-heart"></i>
                            740
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <div class="card item item-text-wrap">
                  <div class="ink dark-bg">
                      <img class="full-image" src="img/sansa-snowcastle3.jpg">
                  </div>
                  <div class="item tabs tabs-dark tabs-icon-left">
                        <a class="tab-item dark-bg">
                            <i class="icon ion-eye"></i>
                            1000
                        </a>
                        <a class="tab-item dark-bg">
                            <i class="icon ion-chatbubbles"></i>
                            130
                        </a>
                        <a class="tab-item dark-bg">
                            <i class="icon ion-heart"></i>
                            740
                        </a>
                    </div>
                </div>
            </div>
            <div class="col col-50">
                <div class="card item item-text-wrap">
                  <div class="ink dark-bg">
                      <img class="full-image" src="img/sansa-snowcastle3.jpg">
                  </div>
                  <div class="item tabs tabs-dark tabs-icon-left">
                        <a class="tab-item dark-bg">
                            <i class="icon ion-eye"></i>
                            1000
                        </a>
                        <a class="tab-item dark-bg">
                            <i class="icon ion-chatbubbles"></i>
                            130
                        </a>
                        <a class="tab-item dark-bg">
                            <i class="icon ion-heart"></i>
                            740
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
